@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

.form {
    display: flex;
    flex-direction: column;
    align-items: center;

    .h2 {
        font-family: "Indie Flower", cursive;
        font-size: 2.5rem;
    }

    .inputContainer {
        display: flex;
        justify-content: center;
        gap: 1rem;

        .input {
            height: 2rem;
            width: 25vw;
            font-size: 1.5rem;
            color: blue;
        }

        .submit {
            color: white;
            background-color: blue;
            cursor: pointer;
            font-size: 1.5rem;
        }

        .submit:hover {
            color: blue;
            background-color: white;
        }
    }
}